@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <body>


    <!-- ======= About Section ======= -->
    <main>

        <section id="about" class="about AboutRules">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About</h2>
                    <p>
                        I specalize in web development and programming. From captivating websites to a myriad of software applications, my skills in HTML, CSS, JavaScript, and C# know no bounds.
                        Innovative and dynamic, I aim at turning every project into a resounding success.
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="~/assets/img/AidanMcQuillanHeadshot.jpg" class="img-fluid img-size img-shadow" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>Web Developer &amp; Programmer</h3>
                        <br>
                        <p class="fst-italic">
                            - I'm proficient in HTML, CSS, JavaScript, and C#. I create captivating websites and innovative software applications. -


                        </p>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <a href="http://www.aidanmcquillan.com/"><p2>aidanmcquillan.com</p2></a></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Clarkston, Michigan</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>AidanMcQuillan917@gmail.com</span></li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <p>
                            As a skilled web developer and programmer proficient in HTML, CSS, JavaScript, and C#,
                            I bring a range of expertise in crafting captivating websites and innovative software applications.
                            Eager to contribute my talents and collaborate with a team, I'm dedicated to delivering exceptional solutions that make a meaningful impact on everyone.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <br>
        <br>
        <br>
        <br>

        <hr>
    </main>
    <!-- End About Section -->
    </body>

</html>